@import url('./__list/main-navigation__list.css');
@import url('./__item/main-navigation__item.css');

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: calc(1110px - 165px*2);
    margin: 0 auto;
    padding: 39px 165px;
    font-size: 14px;
    line-height: 1.29;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(10, 34, 61, 1);
}