.header__top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(1440px - 165px*2);
    margin: 0 auto;
    padding: 21px 165px;
    font-size: 10px;
    line-height: 1.25;
    font-weight: normal;
    color: #333333;
}