@import url('./__item/bread-crumbs__item.css');
@import url('./__link/bread-crumbs__link.css');

.bread-crumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: calc(1440px - 165px * 2);
  margin: 0 auto;
  padding: 19px 165px;
  list-style: none;
  font-size: 10px;
  line-height: 1.3;
}