.main-navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(1440px - 165px*2);
    margin: 0 auto;
    padding: 39px 165px;
    list-style: none;
    text-transform: uppercase;
}