.header__button {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    box-shadow: none;
    cursor: pointer;
}

.header__button:hover {
    opacity: 0.5;
}